.room-card {
  max-width: 505px;
  width: 100%;
  height: 656px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include sm {
    height: 450px;
    // width: 360px !important;
  }
  &:hover,
  &.slick-center {
    .booking-btn {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      @include transition;
    }

    .content-wrapper {
      height: 50%;
      bottom: 0;
      clip-path: polygon(50% 0, 50% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
      backdrop-filter: blur(10px);
      @include transition;

      .inner-wrapper {
        bottom: 30px;
        @include transition;
        .rating {
          visibility: visible;
          opacity: 1;
          padding-top: 16px;
          margin-top: 16px;
          transform: scaleY(1);
          @include transition;
        }
      }
    }
  }

  .content-wrapper {
    height: 100%;
    bottom: 0;
    transition: height 0.5s ease-out;
    clip-path: none;
    color: $white;
    width: 100%;
    background: rgba(34, 34, 34, 0.75);
    padding-left: 60px;
    position: absolute;
    overflow: visible;
    @include transition;
    @include sm {
      padding-left: 30px;
    }

    .inner-wrapper {
      position: absolute;
      width: 80%;
      overflow: hidden;
      bottom: 0;
      @include transition;
      .title {
        font-family: $heading-font;
        color: $white;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
      }

      .price-wrapper {
        display: flex;
        align-items: end;

        .price {
          font-family: $body-font;
          font-size: 30px;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 4.5px;
          text-transform: uppercase;
        }

        .divider {
          width: 1px;
          height: 20px;
          background-color: $white;
          margin: 0 16px 6px;
        }

        .day_night {
          font-size: 20px;
          font-style: normal;
          font-weight: 250;
          line-height: normal;
          letter-spacing: 3px;
          text-transform: uppercase;
          margin-bottom: 2px;
        }
      }

      .rating {
        padding-top: 0;
        margin-top: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
        @include transition;

        .desc {
          display: flex;
          align-items: center;
          gap: 11px;

          p {
            margin-bottom: 0;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 3px;
          }
        }
      }
    }
  }

  .booking-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    @include transition;

    a {
      width: 102px;
      height: 102px;
      border-radius: 50%;
      background-color: $primary-color;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
