.info-card {
  &.style-2 {
    padding: 62px 80px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px dashed rgba(34, 34, 34, 0.2);
    @include rmaxwd(1399) {
      padding: 32px;
    }
    &.image {
      padding: 0;
      border: none;
      overflow: hidden;
      @include rmaxwd(1199) {
        height: 100%;
      }
      @include sm {
        height: auto;
      }
      img {
        @include rmaxwd(1199) {
          height: 100%;
        }
      }
    }
    &:hover {
      border-color: $primary-color;
    }
    .content {
      .title {
        color: $black;
      }
      p {
        color: $gray;
      }
    }
  }
}
