input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}

/* Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

/* Internet Explorer */
input[type="date"]::-ms-clear {
  display: none;
}
.checknow-form {
  .inner-wrapper {
    padding: 20px;
    background-color: rgba(63, 63, 63, 0.5);
    backdrop-filter: blur(2px);
  }
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 34px;
    padding: 30px;
    padding-bottom: 40px;
    background-color: #3f3f3f;
    @include sm {
      gap: 20px;
    }
    button {
      @include sm {
        flex: 1;
      }
    }
    .select-container {
      width: 100%;
      .nice-select {
        height: 49px;
        padding: 16px 20px;
        background-color: transparent;
        color: #a19292;
        border-radius: 0;
        line-height: normal;
        &:after {
          top: 50%;
          right: 10px;
          width: auto;
        }
      }
    }
    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      @include xl {
        flex: 1;
      }
      @include rmaxwd(991) {
        flex: 1;
      }
      @include sm {
        flex-direction: column;
        width: 100%;
        align-items: start;
      }
      input,
      select {
        padding: 16px 20px;
        background-color: #564848;
        color: #a19292;
        font-family: $body-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.1px;
        width: 290px;
        @include rmaxwd(1399) {
          // width: 100%;
        }
      }
      .nice-select {
        width: 290px;
        @include rmaxwd(991) {
          width: 100%;
        }
      }
      label {
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px; /* 181.25% */
        text-transform: uppercase;
      }
      .date-container,
      .select-container {
        position: relative;
        display: inline-block;
        @include xl {
          flex: 1;
        }
        @include md {
          flex: 1;
        }
        @include sm {
          width: 100%;
        }
      }

      .date-container input[type="date"] {
        // padding-left: 35px; /* Space for the icon */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .date-container i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      input[type="date"]::-moz-calendar-picker-indicator {
        display: none;
      }
      input[type="date"] {
        -moz-appearance: textfield;
      }

      input[type="date"]::-ms-clear {
        display: none;
      }
    }
    button {
      padding: 9.5px 40px;
      background-color: $primary-color;
      color: $white;
      @include rmaxwd(1199) {
        margin-top: 0;
      }
      @include md {
        flex: 1;
      }
    }
    select {
      padding-right: 30px; /* Add padding for the dropdown arrow */
      -webkit-appearance: none; /* Remove default dropdown styling */
      -moz-appearance: none;
      appearance: none;
    }

    // .select-container::after {
    //   content: '\f078'; /* FontAwesome down arrow */
    //   font-family: $font-awesome;
    //   position: absolute;
    //   right: 20px;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   pointer-events: none;
    //   color: $white;
    // }
  }

  &.styel-2 {
    .inner-wrapper {
      backdrop-filter: blur(0);
      .date-container {
        i {
          color: #a19292;
        }
      }
    }
    form {
      background-color: $white;
      .input-wrapper {
        background-color: rgba(255, 255, 255, 0.2);
        label {
          color: $gray;
        }
        input,
        select {
          background-color: #f6f6f6;
        }
      }
      .select-container {
        &:after {
          color: #a19292;
        }
      }
    }
  }
}
