.checknow-form {
  margin-top: 150px;
  .inner-wrapper {
    padding: 20px;
    background-color: rgba(63, 63, 63, 0.5);
    backdrop-filter: blur(2px);
  }
  form {
    display: flex;
    align-items: center;
    gap: 34px;
    padding: 30px;
    background-color: #3f3f3f;

    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      input,
      select {
        padding: 16px 20px;
        background-color: #564848;
        color: #a19292;
        font-family: $body-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.1px;
        width: 290px;
      }
      label {
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px; /* 181.25% */
        text-transform: uppercase;
      }
      .date-container {
        position: relative;
        display: inline-block;
      }

      .date-container input[type="date"] {
        // padding-left: 35px; /* Space for the icon */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .date-container .fa-calendar-alt {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      input[type="date"]::-moz-calendar-picker-indicator {
        display: none;
      }

      input[type="date"]::-ms-clear {
        display: none;
      }
    }
    button {
      padding: 7px 40px;
      background-color: $primary-color;
      color: $white;
    }
  }
}
