.header-area {
  &.style-2 {
    .header-menu-area {
      background-color: $black;
      .header-top {
        padding: 32px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        .inner-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        p {
          margin-bottom: 0;
        }
        .address {
          color: $primary-color;
          .title {
            color: $white;
          }
        }
        .booking-btn {
          .content {
            p {
              color: $white;
            }
            a {
              color: $primary-color;
            }
          }
        }
      }
    }
    .main-menu ul li a {
      padding: 38px 24px;
    }
    .header-menu-wrapper {
      border-bottom: none;
    }
    .search-btn-with-btn {
      gap: 30px;
      .btn-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        i {
          color: $primary-color;
        }
      }
    }
    .select-container {
      select {
        background: transparent;
        color: $white;
      }
    }
  }
}
