.header-area {
  &.style-2 {
    .header-menu-area {
      background-color: $black;
      &.sticky_menu {
        .header-top {
          visibility: hidden;
          opacity: 0;
          height: 0;
          padding: 0;
          @include transition;
        }
        .header-menu-wrapper {
          .hamburger-left {
            &.hide {
              display: none;
              visibility: hidden;
              opacity: 0;
              height: 0;
              width: 0;
              transform: translateX(-100%);
              @include transition;
            }
          }
          .logo-wrapper {
            visibility: visible;
            opacity: 1;
            width: auto;
          }
        }
      }
      .header-top {
        padding: 32px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        @include rmaxwd(991) {
          padding: 20px 0;
        }
        @include sm {
          display: none;
        }
        .logo-wrapper {
          @include rmaxwd(991) {
            display: none;
          }
        }
        .inner-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        p {
          margin-bottom: 0;
        }
        .address {
          color: $primary-color;
          .title {
            color: $white;
            font-weight: 300;
          }
        }
        .booking-btn {
          .content {
            p {
              color: $white;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 29px;
            }
            a {
              color: $primary-color;
            }
          }
        }
      }
    }
    .main-menu {
      > ul {
        li a {
          padding: 38px 24px;
        }
        ul {
          li {
            a {
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .header-menu-wrapper {
      border-bottom: none;
      @include sm {
        padding: 12px 0;
        height: 104px;
      }
      .hamburger-left {
        @include rmaxwd(991) {
          display: none;
        }
      }
      .logo-wrapper {
        visibility: hidden;
        opacity: 0;
        width: 0;
        @include transition;
        @include rmaxwd(991) {
          visibility: visible;
          opacity: 1;
          width: 100%;
          @include transition;
        }
      }
    }
    .search-btn-with-btn {
      gap: 30px;
      .btn-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        i {
          color: $primary-color;
        }
      }
    }
    .select-container {
      .nice-select {
        width: 60px;
        background-color: transparent;
        color: $white;
        &:after {
          color: $white;
        }
      }
      select {
        background: transparent;
        color: $white;
      }
    }
  }
}
