.section-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;

  @include xl {
    margin-bottom: 40px;
  }
  @include lg {
    margin-bottom: 30px;
  }
  @include md {
    margin-bottom: 20px;
  }
  @include sm {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
    gap: 40px;
  }
  .sec-content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;

    @include sm {
      width: 100%;
    }
    .sec-desc {
      p {
        br {
          @include md {
            display: none;
          }
          @include sm {
            display: none;
          }
        }
      }
    }
  }
  .short-title {
    font-family: $body-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    color: $gray-800;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    // &::before,
    // &::after {
    //   content: "";
    //   width: 20px;
    //   height: 1px;
    //   border-bottom: 1px solid $primary-color;
    //   flex: 1 1;
    // }

    // &.no-divider {
    //   &:before,
    //   &:after {
    //     display: none;
    //   }
    // }
    // &. {
    //   &::before {
    //     display: none;
    //   }
    // }
  }
  .title {
    font-family: $heading-font;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $black;
    margin-bottom: 20px;

    @include lg {
      font-size: 48px;
      line-height: 62px;
    }
    @include nesthub {
      font-size: 47px;
    }
    @include md {
      font-size: 38px;
      line-height: 48px;
    }
    @include sm {
      font-size: 32px;
      line-height: 42px;
    }
    @media only screen and (min-width: 0px) and (max-width: 439px) {
      br {
        display: none;
      }
    }
    span {
      color: $primary-color;
    }
  }
  .sec-desc {
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: $gray-800;
    margin-bottom: 0;
    .theme-btn {
      background-color: transparent;
      color: $black;
      flex-shrink: 0;

      &:hover {
        background-color: $primary-color;
        color: $white;
        @include transition;
      }
    }
  }
  .para {
    font-family: $heading-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-top: 20px;
    color: $gray;
  }
  &.style-2 {
    justify-content: center;
    .sec-content {
      align-items: center;
      text-align: center;
    }
    .title {
      margin-bottom: 0;
    }
  }
}
