.about-us-2 {
  .booking-area {
    @include lg {
      padding-top: 100px;
    }
    .booking-form {
      @include sm {
        padding-top: 56px;
      }
    }
  }
}
.booking-area {
  &.style-2 {
    @include sm {
      padding-top: 60px;
    }
  }
}

// Brand Slider
.brand-slider-area {
  &.style-2 {
    margin-bottom: 100px;
    .client-logo-slider-wrapper {
      padding: 50px 0;
    }

    @include sm {
      padding: 80px 0;
    }
    @include md {
      padding: 100px 0;
    }
  }
}
