.contact-page-widget {
  .map-widget {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
    iframe {
      height: 100%;
    }
  }
}
// Contact Form Area
.contact-form-area {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 420px;
  margin-top: -280px;
  .shape-1 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .shape-2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .contact-info-area {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    padding: 46px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm {
      padding: 40px 20px;
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
    @include md {
      padding: 40px 30px;
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
    @include lg {
      padding: 40px 20px;
    }
    .divider {
      width: 1px;
      height: 28px;
      background-color: $gray-200;
      @include rmaxwd(991) {
        width: 100%;
        height: 1px;
      }
    }
    .contact-card {
      display: flex;
      gap: 20px;
      .icon {
        margin-top: 8px;
        i {
          font-size: 24px;
          color: $primary-color;
          @include sm {
            font-size: 18px;
          }
          @include lg {
            font-size: 18px;
          }
        }
      }
      .desc {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: $text-color;
        font-family: $body-font;
      }
      .info-title {
        @include sm {
          font-size: 24px;
        }
        @include lg {
          font-size: 24px;
        }
      }
    }
  }
  .comment-respond {
    padding: 0;
    margin-top: 0px;
    border: 0;

    @include rmaxwd(991) {
      margin-top: 50px;
    }
  }
  .image-wrapper {
    text-align: right;
    height: 100%;
    @include lg {
    }
    img {
      height: 100%;
      @include lg {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
