// Hero Section Style-1
.hero-section {
  &.style-1 {
    .hero-content-area {
      // background-image: url(../images/hero-section/v-1/bg.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      text-align: right;

      @include xl {
        display: flex;
        align-items: center;
      }

      .bg-dark-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          91deg,
          #000 0.47%,
          rgba(0, 0, 0, 0) 99.58%
        );
      }
    }

    .hero-content {
      position: relative;
      z-index: 5;
      display: inline-block;
      text-align: left;
      padding: 200px 80px 191px 114px;

      @include xs {
        padding: 100px 12px !important;
      }

      @include sm {
        padding: 100px 50px;
      }

      @include md {
        padding: 160px 80px 140px 40px;
      }

      @include lg {
        padding: 120px 50px;
        display: block;
      }

      @include xl {
        padding: 0 46px;
      }

      .title {
        font-family: $heading-font;
        font-size: 86px;
        line-height: 99px;
        font-weight: 700;
        color: $white;

        @include sm {
          font-size: 44px;
          line-height: normal;
        }

        @include md {
          font-size: 72px;
          line-height: 88px;
        }

        @include lg {
          font-size: 60px;
          line-height: 82px;
        }

        @include xl {
          font-size: 72px;
          line-height: 82px;
        }
      }

      .desc {
        font-size: 16px;
        line-height: 30px;
        margin: 22px 0 37px;
        color: $white;
        padding-right: 170px;

        @include xs {
          padding-right: 55px !important;
        }

        @include sm {
          padding-right: 100px;
        }

        @include lg {
          width: 480px;
          padding-right: 0;
        }

        @include xl {
          padding-right: 120px;
        }
      }

      .hero-content-bottom {
        display: flex;
        align-items: center;

        @include sm {
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 50px;
        }

        @include lg {
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 40px;
        }

        .trusted-clients-wrapper {
          display: flex;
        }

        .trusted-clients {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 66px;
          flex-shrink: 0;

          @include sm {
            margin-left: 0;
          }

          @include lg {
            margin-left: 0;
          }
          .client-thumb {
            position: relative;
            width: 54px;
            height: 54px;
            border: 2px solid $white;
            border-radius: 50%;
            margin-left: -15px;

            &:first-child {
              @include sm {
                margin-left: 0;
              }
              @include md {
                margin-left: 0;
              }
              @include lg {
                margin-left: 0;
              }
            }
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .member-count {
          margin-left: 18px;

          h4 {
            font-size: 32px;
            font-weight: 700;
            line-height: 41.6px;
            text-transform: capitalize;
            color: $white;
          }

          span {
            font-size: 16px;
            line-height: 30px;
            color: $white;
          }
        }
      }
    }

    .hero-gallery-area {
      padding: 59px 0 46px 52px;

      @include xs {
        padding: 80px 0px !important;
      }
      @include sm {
        padding: 80px 0px 80px 18px;
      }

      @include md {
        padding: 100px 0px 100px 30px;
      }

      @include lg {
        padding: 120px 0 120px 40px;
      }

      @include xl {
        padding: 76px 0 76px 50px;
      }
      .section-title {
        @include lg {
          margin-bottom: 0;
        }
        @include md {
          margin-bottom: 0;
        }
        @include sm {
          margin-bottom: 0;
        }
      }

      h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: #000000;
        margin-bottom: 30px;

        @include lg {
          font-size: 28px;
        }

        @include md {
          font-size: 28px;
        }

        @include sm {
          margin-bottom: 20px;
        }
      }

      .nav-tab {
        display: flex;
        gap: 20px;

        @include sm {
          gap: 8px;
        }

        .theme-btn {
          background: none;
          color: $black;
          padding: 9px 20px;
          text-transform: none !important;
          font-weight: 400;
          font-family: $body-font;
          letter-spacing: initial;
          @include transition;

          &:hover {
            background-color: $primary-color;
            color: $white;
            @include transition;
          }

          &.active {
            background: $primary-color;
            border: 1px solid $primary-color;
            color: $white;
          }
        }
      }
    }

    .hero-gallery-slider {
      padding: 30px 0 60px;
      position: relative;

      .slick-arrow {
        position: absolute;
        bottom: -3px;
        width: 44px;
        height: 44px;
        background: none;
        border: 1px solid #e3e3e3;
        transition: all 0.5s;

        &:hover {
          background-color: $primary-color;
          border: 1px solid $primary-color;

          i {
            color: $white;
          }
        }

        i {
          color: #23262d;
          font-size: 16px;
          font-weight: 900;
          font-family: Font Awesome 6 Free;
          @include transition;
        }
      }

      .slick-arrow.btn-next {
        margin-left: 59px;
      }

      .slick-track {
        display: block;

        .slick-item {
          margin-right: 30px;
          width: 300px;
          height: 470px;
          position: relative;

          &:hover {
            .image {
              img {
                transform: scale(1.03);
                @include transition;
              }
            }
            .theme-btn {
              transform: translateY(0%);
              opacity: 1;
              @include transition;
            }
          }

          @include sm {
            margin-right: 20px;
          }

          .image {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: scale(1.01);
              @include transition;
            }
          }

          .theme-btn {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: translateY(100%);
            opacity: 0;
            @include transition;
          }
        }
      }
    }
  }
}

.slider-area {
  padding-bottom: 60px;
  .checknow-form {
    padding-top: 170px;
    @include lg {
      padding-top: 0px;
    }
    @include md {
      padding-top: 100px;
    }
    @include sm {
      padding-top: 40px;
    }
  }
}

// About Us Area
.about-us-area {
  &.style-1 {
    @include md {
      padding: 100px 0;
    }

    @include sm {
      padding: 80px 0;
    }

    .section-title {
      @include sm {
        gap: 0;
      }
      .title {
        @include xl {
          margin-bottom: 10px;
        }
        br {
          @include xl {
            display: none;
          }
        }
      }
    }
    .about-info-card {
      @include xl {
        padding-left: 40px;
      }
      @include rmaxwd(1199) {
        margin-top: 40px;
      }
    }
    .icon-card-wrapper {
      display: flex;
      gap: 70px;
      align-items: center;
      @include xl {
        gap: 40px;
      }
    }
    .btn-wrapper {
      .inner-wrapper {
        display: inline-flex;
        gap: 46px;
        padding-top: 45px;
        border-top: 1px solid $border-color;
      }
    }
  }
  .booking-btn {
    display: flex;
    align-items: center;
    gap: 21px;
    .content {
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        color: $gray-800;
        margin-bottom: 4px;
      }
      a {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 141.667% */
        letter-spacing: 2.4px;
        color: $black;
      }
    }
  }
}
// Booking area
.booking-area {
  position: relative;
  @include rmaxwd(991) {
    padding-top: 0;
  }
  .shape-wrapper {
    background-color: #f8f5f0;
    position: absolute;
    bottom: 87px;
    right: 0;
    width: 1645px;
    height: 823px;
    z-index: -1;
    .shape {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    @include rmaxwd(1399) {
      bottom: 0;
    }
  }
  .shape-2 {
    position: absolute;
    bottom: 0;
    left: 80px;
    z-index: -2;
  }
  .contact-info {
    display: flex;
    align-items: center;
    gap: 24px;
    @include md {
      padding-bottom: 16px;
    }
    .icon {
      width: 69px;
      height: 69px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      flex-shrink: 0;
    }
    .desc {
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $gray;
    }
  }
  .booking-form {
    padding: 55px 45px;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(234, 234, 234, 0.3);
    border-radius: 10px;
    .sub-title {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 5.4px;
      text-transform: uppercase;
      color: $gray;
    }
    .title {
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      font-family: $heading-font;
    }

    form {
      .form-group {
        position: relative;
        margin-bottom: 20px;

        label {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px; /* 181.25% */
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        input[type='date'],
        select {
          width: 100%;
          padding: 12px;
          font-size: 14px;
          border: 1px solid #f2e2e2;
          border-radius: 5px;
          background-color: #f6f6f6;
          color: $text-color;
          ::-webkit-input-placeholder {
            color: #8b2c2c; // Custom placeholder color
          }
          &:focus {
            outline: none;
            border-color: $primary-color;
          }
        }

        i {
          display: inline-block;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(60%);
          background-color: #f6f6f6;
          color: #a19292;
        }
      }

      .submit-btn {
        background-color: $primary-color;
        color: #fff;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        width: 100%;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
  .about-us-area {
    @include rmaxwd(1199) {
      margin-top: 30px;
    }
    .about-info-card {
      @include rmaxwd(1399) {
        padding-left: 0;
      }
    }
  }
}

// Blog area
.blog-area {
  .section-title {
    @include md {
      margin-bottom: 0;
    }
  }
  .blog-card {
    @include md {
      margin-top: 30px;
    }
  }
}

// Room and suites
.room_and_suites {
  background-color: #f8f5f0;
  .room-card-slider-container {
    position: relative;
  }
  .drag-btn-wrapper {
    position: absolute;
    bottom: 84px;
    left: 50%;
    transform: translateY(-50%);
    cursor: grab;
    z-index: 100;
  }
  /* Animation for drag left */
  .drag-left {
    transform: rotateY(10deg) scale(1.05); /* Slight tilt and scale for left drag */
    transition: transform 0.3s ease;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2); /* Shadow to enhance the effect */
  }

  /* Animation for drag right */
  .drag-right {
    transform: rotateY(-10deg) scale(1.05); /* Slight tilt and scale for right drag */
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); /* Shadow to enhance the effect */
  }

  /* Reset transform */
  .room-card {
    transition: transform 0.3s ease; /* Smooth transition back to normal */
  }

  .drag-handle {
    width: 154px;
    height: 154px;
    background-color: $primary-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
    color: $white;
    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3px;
      margin-bottom: 0;
    }
    i {
      line-height: 21px;
      font-weight: 300;
    }
  }

  .drag-handle {
    &.grabbing {
      cursor: grabbing;
    }
  }

  .room-card-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    position: relative;
    margin-top: -196px;
    @include lg {
      margin-top: -100px;
    }
    @include rmaxwd(991) {
      margin-top: -40px;
    }
    .room-card {
      &:nth-child(even) {
        margin-top: 80px;
      }
      @include rmaxwd(1199) {
        margin-top: 80px;
        &:nth-child(even) {
          margin-top: 0;
        }
      }
    }
    .slick-slide {
      margin: 0 12px;
    }
    .slick-track {
      margin: 0 -12px;
    }
    .room-card-btn {
      position: absolute;
      &.prev-btn {
        left: -0;
      }
      &.next-btn {
        right: -0;
      }
    }
  }
}

// Service area
.service-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 43, 43, 0.9);
    z-index: 1;
  }
  .card-wrapper {
    margin-top: 46px;
  }
}

// Testimonial Area
.testimonial-area {
  .banner-text {
    p {
      transform: translate(-10%, -17%);
      letter-spacing: 32px;
    }
  }
  .testimonial-slider {
    position: relative;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: -96px;
    overflow: hidden;
    .slick-list {
      overflow: visible;
    }
    .testimonial-arrow-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // width: 44px;
      // height: 44px;
      background: none;
      // border: 1px solid $border-color;
      transition: all 0.5s;
      i {
        font-size: 70px;
        font-weight: 300;
        color: $gray-4;
      }
      &.next-btn {
        right: 0;
      }
    }
    .testimonial-card {
      .title {
        color: $gray-4;
      }
      &.slick-active {
        .title {
          color: $black;
        }
      }
    }
  }
}

// Team area style-1
.team-area {
  &.style-1 {
    position: relative;
    .shape {
      position: absolute;
      right: 50px;
      top: 66px;
      @include rmaxwd(991) {
        right: 0;
      }
    }
  }
}

// Feature Area
.feature-area {
  &.style-1 {
    padding: 120px 0;
    background-repeat: no-repeat;
    background-position: 70px 0px;
    background-size: contain;
    position: relative;

    @include md {
      padding: 100px 0;
    }

    @include sm {
      padding: 80px 0;
    }

    .section-title {
      margin-bottom: 84px;

      @include xl {
        margin-bottom: 60px;
      }
      @include lg {
        margin-bottom: 60px;
      }
      @include md {
        margin-bottom: 60px;
      }

      @include sm {
        margin-bottom: 40px;
      }
      .short-title-wrapper {
        margin-top: -7px;
      }
      .title {
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

// About-us area
.about-us-area {
  &.style-2 {
    .counter-card-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 76px;
      @include xl {
        gap: 40px;
      }
      @include rmaxwd(1199) {
        justify-content: start;
        margin-top: 30px;
      }
    }
    .about-image-card {
      position: relative;
      .right-bar {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(65%);
        z-index: 1;
        @include rmaxwd(1399) {
          transform: translateX(11%);
        }
      }
      .inner-wrapper {
        position: relative;
        width: 166px;
        height: 2px;
        background-color: $black;

        .short-bar {
          width: 58px;
          height: 2px;
          background-color: $white;
          position: absolute;
          left: 0;
          z-index: 1;
        }
        .circle {
          width: 16px;
          height: 16px;
          border-radius: 50px;
          background-color: $black;
          position: absolute;
          right: 0;
          transform: translate(50%, -50%);
        }
      }
    }
    .about-info-card {
      @include rmaxwd(1399) {
        margin-top: 0;
      }
    }
  }
}

// Feature and facilities
.feature-and-facilities {
  &.style-1 {
    .inner-wrapper {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(49, 43, 43, 0.8);
      z-index: 1;
    }
    .content-wrapper {
      padding-left: 80px;
      @include sm {
        padding-left: 30px;
      }
    }
    .section-title {
      .sec-content {
        .short-title {
          color: $primary-color;
        }
        .title {
          color: $white;
        }
      }
    }
    .btn-wrapper {
      position: relative;
      z-index: 2;
      margin-top: 264px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .btn {
        color: $white;
        font-family: $heading-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        display: inline-flex;
        gap: 28px;
        &:hover {
          color: $primary-color;
          span {
            visibility: visible;
            opacity: 1;
            @include transition;
          }
        }
        span {
          visibility: hidden;
          opacity: 0;
          transform: rotate(-45deg);
          @include transition;

          i {
            font-family: $font-awesome;
            color: $white;
            font-size: 22px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

// Footer
.footer {
  .subscribe-form-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .bottom-image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
