.about-image-card {
  &.style-2 {
    .image-wrapper {
      position: relative;
      .main-img {
        img {
          width: 100%;
          height: 100%;
        }
        .shape {
          position: absolute;
          bottom: -1px;
          right: -1px;
          width: 97px;
          height: 327px;
          @include sm {
            width: 70px;
            height: 220px;
          }
        }
      }
    }
  }
}
