.about-image-card {
  &.style-3 {
    .image-wrapper {
      position: relative;
      .main-img {
        .shape {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 68px;
          height: 237px;
        }
      }
    }
  }
}
